/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #FF9500;
$uni-color-success: #5CD7A8;
$uni-color-warning: #FE9D49;
$uni-color-error: #E96848;

/* 文字基本颜色 */
$uni-text-color:#333231;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999693;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color: #E5E5E5;

/* 文字尺寸 */
$uni-font-size-sm:12px;
$uni-font-size-base:14px;
$uni-font-size-lg:16px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

@import '@/uni_modules/uview-ui/theme.scss';
$u-primary: $uni-color-primary;
$u-success: $uni-color-success;
$u-error: $uni-color-error;
$u-info: $uni-text-color-grey;
$u-main-color: $uni-text-color;
$u-content-color: #666462;
$u-tips-color: $uni-text-color-grey;
$u-border-color: $uni-border-color;
$u-place-color: rgb(192, 196, 204);

