	.u-flex {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
		align-items: center;
	}
	.u-flex-start {
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		flex-direction: row;
	}
	.u-shirk {
		flex-shrink: 0;
	}
	.u-flex-center {
		justify-content: center;
	}
	.u-flex-between {
		justify-content: space-between;
	}
	.u-bold {
		font-weight: bold;
	}
	.u-text-center {
		text-align: center;
	}
	.relative,
	.rela {
		position: relative;
	}
	
	// 定义flex等分
	@for $i from 0 through 12 {
		.u-flex-#{$i} {
			flex: $i;
		}
	}
	
	// 定义字体(px)单位，小于20都为px单位字体
	@for $i from 9 to 20 {
		.u-font-#{$i} {
			font-size: $i + px;
		}
	}
	
	// 定义容器高度
	@for $i from 50 to 100 {
		.u-h-#{$i} {
			height: $i + px;
		}
	}
	
	// 定义内外边距，历遍1-80
	@for $i from 0 through 80 {
		// 只要双数和能被5除尽的数
		@if $i % 2 == 0 or $i % 5 == 0 {
			// 得出：u-margin-30或者u-m-30
			.u-margin-#{$i}, .u-m-#{$i} {
				margin: $i + px!important;
			}
			
			// 得出：u-padding-30或者u-p-30
			.u-padding-#{$i}, .u-p-#{$i} {
				padding: $i + px!important;
			}
			
			@each $short, $long in l left, t top, r right, b bottom {
				// 缩写版，结果如： u-m-l-30
				// 定义外边距
				.u-m-#{$short}-#{$i} {
					margin-#{$long}: $i + px!important;
				}
				
				// 定义内边距
				.u-p-#{$short}-#{$i} {
					padding-#{$long}: $i + px!important;
				}
				
				// 完整版，结果如：u-margin-left-30
				// 定义外边距
				.u-margin-#{$long}-#{$i} {
					margin-#{$long}: $i + px!important;
				}
				
				// 定义内边距
				.u-padding-#{$long}-#{$i} {
					padding-#{$long}: $i + px!important;
				}
			}
		}
	}
	
	// 定义上下边距，左右边距
	@for $i from 0 to 100 {
		.u-m-tb-#{$i} {
			margin: $i + px 0;
		}
		.u-m-lr-#{$i} {
			margin: 0 $i + px;
		}
		.u-p-tb-#{$i} {
			padding: $i + px 0;
		}
		.u-p-lr-#{$i} {
			padding: 0 $i + px;
		}
	}
	